*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
      height: 100%;
    width: 100%;
    /* display: flex;
    align-content: center;
    justify-content: center; */

}
.card{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 300px;
    width: 230px;
   border: 1px;
   border-style:solid;
   border-radius: 20px;
}
#card1{
transform: translate(-50%,-50%);
    background-color: aqua;
    z-index: 4;
}
#card2{
    background-color: black;
    z-index: 3;
  transform:translate(-50%,-50%) rotate(-7deg);
}
#card3{
    background-color: blue;
    z-index: 2;
    transform:translate(-50%,-50%) rotate(-14deg);
}
#card4{
    background-color: brown;
    z-index: 1;
     transform:translate(-50%,-50%) rotate(-21deg);
}
