       *{
        margin: 0%;
        padding: 0%;

       }
       html,body{
        width: 100%;
        height: 100%;
       }
     
        
        body{
            background-color: beige;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
        } 
        
        #Box1{
          
             border-radius: 50%;
            border-width: 3px;
            border-style: groove;
            text-align: center;
            width: 30%;
            height: 30%;
            font-family: 'Times New Roman', Times, serif;
            font-style: oblique;
            font-display: fallback;
            background-color: blanchedalmond;
            
        }
        #Box2{
            border-radius: 50%;
            border-width: 3px;
            border-style: groove;
            text-align: center;
            width: 30%;
            height: 30%;
            font-family: 'Times New Roman', Times, serif;
            font-style: oblique;
            font-display: fallback;
            background-color: rgb(243, 163, 42);
        }
