
body{
    padding: 0;

}
h1{
    
    text-shadow: 3px 3px 5px  red;
}
#ba{
     border-bottom: 3px solid red;
border-left: 3px dashed red;
    color: green;
    border-right: 3px solid red;
}
#p{

 
    font-style: oblique;
    border: 5px solid;
    border-color: red;
    border-radius: 20px;
}
#b1{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: yellow;
    box-shadow: 5px 3px 3px;
}
#box2{
    background-color: red;
    width: 250px;
    height: 250px;
    margin: 100px;
}
#pic1{
    width: 250px;
    height: 250px;
    border: 10px dashed black;
    float: right;
    
}
   