.container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    flex-wrap: wrap;
}
.box{
    border: 2px solid;
    width: 100px;
    height: 100px;
    font-size: x-large;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: lightblue;
}