div{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 100px;
}
span{
    background-color: red;
      width: 100px;
    height: 100px;
    display: inline;
}