*{
    box-sizing: border-box;
}
.container{
    background-color: gray;
    height: 100vh;
    
}

.box{

    border: 2px solid;
    height: auto;
    width: 50%;
   
    padding: 25px;
    float: left;
    align-items: center;
    min-height: 75%;

}