#box1{
    width: 200px;
    height:200px;
    background-color: blanchedalmond;
    position: sticky;
   left: 100px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
}